<form (ngSubmit)="onSubmit()" [formGroup]="myForm">
  <mat-form-field class="title">
    <input
      matInput
      [formControl]="myForm.controls.title"
      placeholder="Title"
      type="text"/>

    <mat-error *ngIf="myForm.controls.title.hasError('required')">
      Title is required
    </mat-error>
  </mat-form-field>

  <div class="mat-form-field-wrapper">
    <editor
      apiKey="Get your free API key at tiny.cloud and paste it here"
      [formControl]="myForm.controls.body"
      class="mat-elevation-z1"
      (onInit)="handleEditorInit($event)"
      [init]="{
        icons: 'material',
        skin: 'borderless',
        plugins: 'wordcount',
        menubar: false,
        min_height: 150
      }"
    ></editor>

    <div class="mat-form-field-subscript-wrapper">
      <mat-error *ngIf="myForm.controls.body.hasError('maxlength')">
        Your post exceeds exceeds the character limit
        {{ myForm.controls.body.getError('maxlength').actualLength }} /
        {{ myForm.controls.body.getError('maxlength').requiredLength }}
      </mat-error>

      <mat-error *ngIf="myForm.controls.body.touched && myForm.controls.body.hasError('required')">
        This form is required
      </mat-error>
    </div>
  </div>
</form>
